:root {
--background-color:#fbc000;
}

.row1, .row2 {
	width: 90%;
	display: flex;
	flex-direction: row;
    justify-content: center;
}

.header-col1{
	width: 60%;
}
.header-col2{
	width: 40%;
}
.header-col2 img{ 
	width: 90%;
}


.titulo {
	display: flex;
	flex-direction: column;
}

.header-h1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--background-color);
	border-radius: 15px;
	padding: 10px;
}


h1{
	font-size: 1.5em;
	text-transform: uppercase;
	text-align: left;
	margin-left: 15px;
	line-height: 1.2em;
	color: white;
}

h2{
	background-color: var(--background-color);
	border-radius: 15px;
	padding: 15px;
	line-height: 1.2em;
	color: white;
}

h3 {
	padding: 5px;
	line-height: 1.2em;
	color: white;
}

.row1 p {
	padding: 15px;
	margin: 5px 0 20px;
	background-color: hsl(0, 0%, 90%);
	text-align: justify;
	border-radius: 15px;
}

.header-h1 img {
max-width: 40px;
}

.row2 section {
	margin: 20px 15px 30px 0;
	max-width: 25%;
	border-radius: 10px;
	/* overflow: hidden; */
}
.row2 p {
	margin-top: 5px;
	padding: 20px;
	/* border-radius: 10px; */
	color: #494949;
}

.row2 section img{
	max-width: 20%;
	height: 25px;
}

.card_h {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
    align-items: center;
}

.card_h1 {
	background-color:#31cdc2;
	border-radius: 10px 10px 0 0;

}
.card1 p{
	margin-top: 5px;
	border-radius: 0 0 10px 10px;
	background-color:#caebe8;
}

.card_h2{
	background-color:#8a87c0;
	border-radius: 10px 10px 0 0;
}
.card2 p{
	margin-top: 5px;
	border-radius: 0 0 10px 10px;
	background-color:#bdbde5;
}

.card_h3{
	border-radius: 10px 10px 0 0;
	background-color:#5eb130;
	
}
.card3 p{
	margin-top: 5px;
	border-radius: 0 0 10px 10px;
	background-color:#d5e4cd;
}

.card_h4{
	border-radius: 10px 10px 0 0;
	background-color:#f07f36;
}
.card4 p{
	margin-top: 5px;
	border-radius: 0 0 10px 10px;
	background-color:#f5e5da;
}

@media (max-width:465px) {
	.content{
		width: 100%;
		margin: 0 auto;
	}
	h1{
		margin-left: 10px;
	}
	.header-h1 img {
		max-width: 30px;
	}
	.row2{
		flex-wrap: wrap;
	}
	.row2 section {
		max-width: 100%;
		margin-bottom: 0;
	}

	.card_h {
		justify-content: center;
		font-size: 1.5em;
	}

	.row2 p {
		margin-top: 5px;
		padding: 10px;
	}
			}