
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-weight:normal;
  line-height: 1.5em;
	font-family: "poppins", Arial, Helvetica, sans-serif;
	color: #7a7a7a;
	background-color: #f5f5f5;
}

.wraper {
	display: flex;
	flex-direction: row;
}

.ic_caption {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}
.ic {
	width: 30px;
	margin-right: 10px;
}
.caption{
	font-size: .9em;
	text-transform:uppercase;
	letter-spacing: 1px;
	color:rgb(255, 102, 0);
}


main {
	width: 75%;
	margin-left: auto;
	margin-right: 2em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
	text-align: center;
	font-size: .75em;
	line-height: 1.4em;
}

.content_index{
	width: 70%;
	margin-left: auto;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
	text-align: center;
	font-size: .75em;
	line-height: 1.4em;
}

.img_mod_intro {
  background-image: url("img/mod1header-full.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
	height: 400px;
	width: 100%;
}

.main-nav {
	max-width: 30%;
	padding: 1.5em;
	height: 100vh;
	padding: 30px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	background-color: #ffffff;
	box-shadow: rgb(163, 163, 163) 0 0 15px;
}

.main-nav h3{
	color: royalblue;
}

nav a {
	/* margin: 1em; */
	text-decoration: none;
	color:rgb(255, 102, 0);
	}
	
	a:hover {
	color:rgb(255, 255, 255);
	}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#menu ul{
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items:center;

}

#menu li {
	width: 100%;
	padding:8px;
	list-style: none;
	margin: 10px 0;
	border: #e6810f solid 1px;
	border-radius: 10px;
	font-size: 1em;
	font-family: "poppins";
	text-align: center;
}

#menu li:hover {
background-color: rgb(235, 142, 55);
color: white;
}

.menu-mobile {
	display: none;
}

@media (max-width:465px) {

	#menu {
		display: none;
	}

	.content_index{
		margin-top: 40px;
		width: 100%;
	}
	
	.menu-mobile {
		display: block;
	}
	
	.menu-mobile-list-on, .menu-mobile-list-on li:first-child{
		border: none;
		margin: 0;
		padding: 0;
	}
	
	/* hamburger menu */
	#menu-mobile-btn {
		display: inline-block;
		border: none;
		padding: 10px;
		background-color: none;
		border-radius: 10px;
		margin: 10px;
		position: absolute;
	}

	.menu-mobile-list-off {
		width: 60%;
		height: 100vh;

		position: absolute;
		top: 60px;
		right: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		list-style: none;
		background-color: var(--grey);
		transition: all 200ms ease-out;
	}
	
	.menu-mobile-list-on {
		width:100%;
		height: 100vh;
		
		position: absolute;
		top: 60px;
		left: 0;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		list-style: none;
		background-color:  white;
		transition: all 200ms ease-out;
	}

	.menu-mobile-list-on li {
		width: 80%;
		padding:8px;
		list-style: none;
		margin: 10px 0;
		border: #e6810f solid 1px;
		border-radius: 10px;
		font-size: 1.4em;
		font-family: "poppins";
		text-align: center;
	}
	.menu-mobile-list-on a{
		color: #e6810f;
	}

	.menu-mobile-list-on, .menu-mobile-list-on	.menu-mobile-modtitulo {
		border: none;
		color: royalblue;
		text-align: left;	
		margin-top: 5px;
		margin-bottom: 30px;
	}

}

.a_mod1 {
	width: 150px;
	padding: 8px 20px;
	margin: 40px 0;
	border-radius: 12px;
	text-decoration: none;
	font-size: 1.2em;
	line-height: 1.4em;
	color: white;
	transition: 0.3s;
	text-align: center;
	background: #ff8e0e;
	color: white;
}

.a_mod1:hover {
	background: #FFA70C;
	color: white;
	box-shadow: 0px 0px 6px 0px hsl(0deg 0% 69%);
}

	@media (max-width:745px) {
		html {
			font-size: 12px;
		}
	}
	
	@media (max-width:465px) {
		html {
			font-size: 10px;
		}

	}

/* -------------------------------------- slide 1 */
.carrera_path {
	max-width: 75%;
	border-bottom: 1px solid rgb(187, 187, 187);
	margin-bottom: 15px;
}

.content_s1 {
	width: 70%;
	margin-left: auto;
	display: flex;
	flex-direction: column;

	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
}

.mod_header {
	display: flex;
	flex-direction: row;
	color: white;
	align-items: center;
}
.mod_header img{
	width: 300px;

}
.mod_header h2{
	padding: 20px;
	margin: 1em 1em 1em 4em;
	border-radius: 15px;
	background-color: #236fd3;
	line-height: 1.6em;
	}

.content_intro{
	margin: 0 4em 2em;
	font-size: 1.2em;
	line-height: 1.6em;
	text-align: justify;
}

.content_intro img{
	margin: 2em;

}
.nav_interna{
	margin: 0 0 30px;
}
.nav_interna a{
	margin: 0 10px;
}


.close_btn {
	padding: 10px;
	border: 2px #FFA70C solid;
	border-radius: 50%;
	text-align: center;
	font-size: 2em;
	text-decoration: none;
	position: absolute;
	top: 1em;
	right: 1em;
	color: #FFA70C;
	z-index: 1;
}
.close_btn:hover {
	color: #ffffff;
	background-color: #FFA70C;
}

@media (max-width:465px) {
	.carrera_path {
		max-width: 90%;

		margin: 60px 0 30px 0;
	}

	
	.content_s1 {
		width: 100%;
	}

	.mod_header img{
		width: 40%;
	
	}
	.mod_header h2{
		padding: 10px;
		margin: 1em;
		}
	
	.content_intro{
		margin: 0 3em;
		font-size: 1.2em;
		line-height: 1.6em;
		text-align: justify;
	}
	
	.nav_interna{
		margin: 40px 0;
	}

	.close_btn {
		top: 9em;
	}

}