.titulo {
	width:70%; 
	padding:10px; border-radius: 10px; background-color: #7959ac; margin:10px  auto; 
	color: white;	
}

.p_intro{
	width:40%; 
	padding:20px; border-radius: 10px; background-color: rgb(231, 231, 231); 
	margin:10px  auto; 
	color: darkslategrey;
	text-align: justify;
}

.img_multiply{
	mix-blend-mode: multiply;
	width: 100%;
}


.content_internas{
	width: 75%;
	margin-left: auto;
	margin-right: 2em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
	text-align: center;
	font-size: .75em;
	line-height: 1.4em;
}

.content_internas section{
	width: 100%;
}

.flex_row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}


.flex_row p{
	width: 40%;
	margin: 0;
	align-content: center;
}

.img_row {
	width: 50%;
	mix-blend-mode: multiply;
}

.list_ejes{
	width: 35%;
	list-style-position: inside;
	background-color: rgb(231, 231, 231);
	border-radius: 15px;
}

.list_ejes li:first-child{
	list-style: none;
	width: 100%;
	border: 0;
	color: darkslategrey;
	background-color: rgb(231, 231, 231);
	margin: 0 10px;
}
.list_ejes li {
	margin: 20px 10px;
	border: #7959ac 1px solid;
	padding: 10px;
	border-radius: 10px;
	color:#7959ac ;
	background-color: rgb(235, 228, 235);
}


@media (max-width:745px) {
	.content_internas{
		width: 100%;
	}
	
}


@media (max-width:465px) {
		
	.content_internas{
		width: 90%;
    margin-left: auto;
    margin-right: auto;
		justify-content: flex-start;
	}

	.titulo {
		width:90%; 
	}
	
	.p_intro{
		width:90%; 
	}
}